<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:versionCode="1" android:versionName="1">
	<application android:label="BitcoinWallet.Droid" android:theme="@style/MyTheme" android:icon="@drawable/icon"></application>
	<uses-sdk android:targetSdkVersion="23" android:minSdkVersion="21" />
  <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyA_r6-1T3tPsf80m_K02DkTfdHWkLj5imc" />
</manifest>