#Autosave files
*~

#build
**/[Oo]bj/
**/[Bb]in/
BitcoinWallet/BitcoinWallet.Droid/obj/
BitcoinWallet/BitcoinWallet.WinPhone/obj/
BitcoinWallet/BitcoinWallet.UWP/obj/
BitcoinWallet/BitcoinWallet/obj/
packages/
TestResults/
.vs/

# works
Expanded/Expanded.VEngine/
XLabs/Serialization/
XLabs/Caching/XLabs.Caching.Net45
XLabs/Caching/XLabs.Caching.Sqlite

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db
*.cache
Temporary*

#Mac bundle stuff
*.dmg
*.app

#resharper
*_Resharper.*
*.Resharper

#dotCover
*.dotCover

*.csproj.bak
*.nupkg
*.lock.json
.gitignore.orig


BitcoinWallet/BitcoinWallet.Droid/obj/Debug/sdks.cache
Icons-all/
BitcoinWallet/BitcoinWallet/LoginConfig.xml
BitcoinWallet/BitcoinWallet.UWP/Database/LogDB.db3
BitcoinWallet/BitcoinWallet.UWP/Database/MainDB.db3
BitcoinWallet/BitcoinWallet.WinPhone/Database/LogDB.db3
BitcoinWallet/BitcoinWallet.WinPhone/Database/MainDB.db3
Library/Blockchain.API/Info.Blockchain.API.pdb
Library/Telerik.Xamarin/
Library/Telerik.Xamarin.rar
BitcoinWallet/BitcoinWallet.Layers/ViewModels/TransactionExample.json
