<?xml version="1.0" encoding="utf-8" ?>
<root>
  <wallet number="0">
  <authentication>
    <login-config>
      <module name="Alias" value="bitcoinwallet" />
      <module name="LoginID" value="1393dcec-2f1d-45f3-8055-a304636dce13" visible="false"/>
      <module name="PasswordFirst" value="roUKOMO800187" visible="true" secure="true" />
      <module name="PasswordSecound" value="ro1008UKOMO1987" visible="false" secure="true" />
      <module name="api_code" value="12345" visible="false"/>
      <module name="autologon" enable="false"/>
      <module name="Theme" value="Light" />
    </login-config>
  </authentication>
  </wallet>
</root>

